body {
    margin: 0;    
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
}
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

/* .middle-container {

}

.bottom-container {

} */

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.profile {
    margin: 100px auto;
}

.profile-pic {
    height: 300px;
    width: 300px;
}

.skill-img {
    margin-right: 30px;
    width: 25%;
    float: left;
}

.skill-row {
    height: 15.625rem;
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.coffee-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.coffee-img {
    margin-left: 30px;
    width: 25%;
    float: right;
}

.latte-pic {
    height: 25rem;
    width: 40rem;
    padding: 10px;
}

.video {
    margin: 0 30px;
    height: 50%;
    width: 25%;
    float: right;
}
